<div class="p-4 pt-5">
	<h1 class="logo" style = "color: white">
		<a href="/sakila/index.html" class="logo">Sakila</a> <br><hr>
		Category
	</h1>
	<ul class="list-unstyled components mb-5">
		<li class="active">
			<a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Customer</a>
			<ul class="collapse list-unstyled" id="homeSubmenu">
				<li><a href="/sakila/customer/country.html">국가 관리</a></li>
				<li><a href="/sakila/customer/address.html">주소 관리</a></li>
				<li><a href="/sakila/customer/city.html">도시 관리</a></li>
				<li><a href="/sakila/customer/customer.html">고객 관리</a></li>
			</ul>
		</li>
		
		
		<li>
			<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Business</a>
			<ul class="collapse list-unstyled" id="pageSubmenu">
				<li><a href="/sakila/business/store.html">매장 관리</a></li>
			</ul>
		</li>
		
		<li>
			<a href="#film" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Film</a>
			<ul class="collapse list-unstyled" id="film">
				<li><a href="/sakila/inventory/film.html">필름 목록</a></li>
				<li><a href="#">Page 2</a></li>
				<li><a href="#">Page 3</a></li>
			</ul>
		</li>
	</ul>
</div>
