<!doctype html>
<html lang="kor">
<head>
<title>templates</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/sakila/assets/css/style.css">
<link rel="stylesheet" href="/sakila/assets/css/templateStyle.css">
</head>
<body>
	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">
			
		</nav>

		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5">
			<!-- header -->
			<nav class="navbar navbar-expand-sm header">
				<ul class="navbar-nav">
					<strong><a href = "#">목차</a><span> │ 설명  · 설명 관리</span></strong>
				</ul>
			</nav>
			<hr class = "division">
			<!-- /header -->
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="/sakila/assets/js/popper.js"></script>
	<script src="/sakila/assets/js/bootstrap.min.js"></script>
	<script src="/sakila/assets/js/main.js"></script>
	
	<script>
		$("#sidebar").load("/sakila/templates/aside.html");
	</script>
</body>
</html>






